In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
athletes = pd.read_csv('data/summerOly_athletes.csv')
hosts = pd.read_csv('data/summerOly_hosts.csv')
medal_counts = pd.read_csv('data/summerOly_medal_counts.csv')
programs = pd.read_csv('data/summerOly_programs.csv')

In [64]:
def country_medals(country):
    medals = medal_counts.where(medal_counts['NOC'] == country).dropna().sort_values(by="Year")
    return medals

rows = []
countries = medal_counts['NOC'].unique()

n = 5
for country in countries:
    for medal_name in ['Gold', 'Silver', 'Bronze']:
        medals = country_medals(country)[['Year', medal_name]]
        for i in range(len(medals)):
            row = [np.NaN] * n
            for j in range(n-1, 0, -1):
                if i - j >= 0:
                    row[n - j - 1] = medals.iloc[i - j, 1]
                
            row[n-1] = medals.iloc[i, 1]
            rows.append(row)

columns = [f't - {i}' for i in range(n - 1, 0, -1)]
columns.append('t')
time_series = pd.DataFrame(rows, columns=columns).fillna(0)
time_series

      t - 4  t - 3  t - 2  t - 1     t
0       0.0    0.0    0.0    0.0  11.0
1       0.0    0.0    0.0   11.0  19.0
2       0.0    0.0   11.0   19.0  76.0
3       0.0   11.0   19.0   76.0  23.0
4      11.0   19.0   76.0   23.0  26.0
...     ...    ...    ...    ...   ...
4300    0.0    0.0    0.0    0.0   0.0
4301    0.0    0.0    0.0    0.0   1.0
4302    0.0    0.0    0.0    0.0   0.0
4303    0.0    0.0    0.0    0.0   0.0
4304    0.0    0.0    0.0    0.0   1.0

[4305 rows x 5 columns]

In [65]:
from sklearn.linear_model import LinearRegression
X = time_series[columns[:-1]]
y = time_series[columns[-1]]

reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.6009593267286747